body {
    font-family: sans-serif;
    margin: auto;
    max-width: 700px;
    padding: 0 1em;
}

fieldset fieldset, fieldset label {
    clear: left;
    float: left;
}

#selection output img {
    width: 100%;
}

body > *, form > * {
    margin-bottom: 1em;
}

form button {
    background-color: lightblue;
    border-radius: 0.5em;
    padding: 1em;
}

figure {
    margin: 0;
}

figure caption {
    display: block;
    width: 100%;
}

#guess fieldset[disabled] {
    display: none;
}

#guess output {
    border: 2px solid;
    border-radius: 1em;
    display: block;
    padding: 1em;
}

#guess output[data-success="true"] {
    border-color: green;
    background-color: lightgreen;
}

#guess output[data-success="false"] {
    border-color: red;
    background-color: pink;
}

#guess output:empty {
    display: none;
}
