#selection output > figure > div {
  white-space: nowrap;
  overflow-x: auto;
}

#selection output > figure > div > figure {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

#selection output figcaption {
  padding: 1em 0;
  text-align: center;
  width: 100%;
}
